#recipe-info {
    > section {
        margin: var(--marginMain) 0;
    }
    header {
        > * {
            display: inline-block;
        }
        .favourite {
            background-color: var(--colourBgMain);
            border: none;
            font-size: 1.8rem;
            margin-left: var(--marginMain);
            vertical-align: bottom;
            cursor: pointer;
        }
    }
    @media (min-width: 680px) {
        display: grid;
        grid-template-areas:
        "header header"
        "picture description"
        "ingredients video";
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, auto);
        gap: var(--marginMain);
        > header {
            grid-area: header;
        }
        > img {
            grid-area: picture;
        }
        > p {
            grid-area: description;
        }
        > section {
            grid-area: ingredients;
        }
        > iframe {
            grid-area: video;
        }
    }
}