@import '_variables.css';

* {
    margin: 0;
    padding: 0;    
}

body {
    font-family: var(--fontMain);
    color: var(--colourMain);
    background-color: var(--colourBgMain);

    header, footer {
        font-family: var(--fontHeader);
    }
    > header, dialog > header, > footer {
        text-align: center;
        padding: var(--marginSmall) var(--marginMain);
        color: var(--colourBgMain);
        background-color: var(--colourBgSecondary);
    }
    nav {
        background-color: var(--colourBgTertiary);
        ul {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            margin: 0;
            li {
                display: inline-block;
                list-style-type: none;
                * {
                    font-size: 1em;
                }
                a, button {
                    color: var(--colourBgMain);
                }
                button {
                    border: none;
                    background-color: var(--colourBgTertiary);
                }
                button:hover {
                    cursor: pointer;
                }
            }
        }
    }
    section {
        margin: var(--marginMain);
        header {
            text-align: left;
        }
        > section {
            margin: 0;
        }
    }
    ul, ol {
        margin-left: var(--marginMain);
    }
    iframe {
        width: 100%;
        aspect-ratio: 16 / 10;
    }
    article {
        margin-bottom: calc(var(--marginMain) * 2);
    }
    a {
        text-decoration: none;
    }
    .standout {
        font-size: 1.2rem;
        font-weight: bold;
    }
    .pill {
        padding: var(--marginTiny) var(--marginMain);
        border-radius: var(--marginSmall);
        color: var(--colourBgMain);
        text-align: center;
    }
    .foodType {
        background-color: var(--colourFoodType);
    }
    .area {
        background-color: var(--colourArea);
    }
    img {
        width: 100%;
        max-width: var(--recipePictureWidth);
        border-radius: var(--marginSmall);
    }
    #recipe-list > header {
        padding: 0 var(--marginMain);
    }
    #recipe-cards {
        display: flex;
        flex-flow: row wrap;
        gap: var(--marginMain);
        article {
            display: grid;
            grid-template-columns: var(--recipeThumbnailDimension) 1fr;
            grid-template-rows: repeat(2, auto);
            margin: 0;
            
            > header {
                grid-column: 2 / 3;
                grid-row: 1 / 2;
                padding: 0 var(--marginMain);
                line-height: 1.2rem;
                a {
                    color: var(--colourBgSecondary);
                }
            }
            > a:has(img) {
                grid-row: 1 / 3;
                max-width: var(--recipeThumbnailDimension);
                max-height: var(--recipeThumbnailDimension);
            }
            > div {
                grid-column: 2 / 3;
                grid-row: 2 / 3;
                > * {
                    margin: var(--marginTiny) var(--marginMain) 0 var(--marginMain);
                    padding: 0 var(--marginMain);
                    width: auto;
                    font-size: 0.9rem;
                }        
            }
        }
    }
    #recipe-info {
        section {
            margin: var(--marginMain) 0;
        }
    }
    .error {
        color: var(--colourError);
    }
    address {
        font-size: 0.9rem;
        text-indent: var(--marginMain);
        margin-bottom: var(--marginMain);
        p:nth-of-type(2) {
            margin-bottom: var(--marginSmall);
        }
    }

    form {
        border-top: var(--marginTiny) solid var(--colourBgTertiary);
        > div:not(:has(input[type="submit"])) {
            display: flex;
            flex-flow: column wrap;
            margin: var(--marginSmall) 0;
            textarea {
                height: calc(5 * var(--marginMain));
            }
        }
        input[type="submit"] {
            width: auto;
            padding: var(--marginSmall) var(--marginMain);
            border: var(--marginTiny) solid var(--colourBgSecondary);
            border-radius: var(--marginMain);
            font-size: 1rem;
            color: var(--colourBgMain);
            background-color: var(--colourBgSecondary);
        }
    }

    dialog {
        margin: 6rem auto 0 auto;
        border-color: var(--colourBgSecondary);
        border-radius: var(--marginSmall);            
        header {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            padding: 0;
            .close {
                cursor: pointer;
            }
        }
        :not(header) {
            padding: var(--marginSmall) var(--marginMain);
        }
    }
}
